<div id="root">
    <div class="App">
        <header class="header-app">
            <img class="header-app--logo" src="assets/images/logo.png" alt="Logo"> My-shop application
        </header>
        <div class="container">
            <section class="product-list">
                <app-product-list>
                </app-product-list>
            </section>
            <section class="user-cart">
                <app-cart>
                </app-cart>
            </section>
        </div>
        <footer class="footer">Copyright by my-shop - 2018</footer>
    </div>
</div>

<router-outlet></router-outlet>
